In [3]:
# Import necessary libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
# Load the dataset
file_path = '/content/drive/MyDrive/Student_Performance/Data_Raw/StudentsPerformance.csv'
data = pd.read_csv(file_path)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [5]:
# Step 1: Data Cleaning

# 1.1 Check for missing values
print("Missing Values in Dataset:")
print(data.isnull().sum())

Missing Values in Dataset:
gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

In [6]:
# 1.2 Checking for duplicates
print("Number of Duplicates in the dataset:", data.duplicated().sum())

Number of Duplicates in the dataset: 0

In [7]:
data.to_csv('/content/drive/MyDrive/Student_Performance/Data_Clean/cleaned_data.csv', index=False)